.auth{
    margin-top: 5rem;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

.sideDesign{ 
  background-color: #3849EF;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 2rem;
}
.authForm{ 
    display: flex;
    flex-direction: column;
    box-shadow: rgba(56, 73, 239, 1) 0px 5px 15px;
    background-color: #3849EF;
    width: 500px;
    height: 600px;
    border-radius: 25px;
    padding-top: 50px;
    text-align: center;
    margin: 0 auto;
    
}

  .auth input{
    background-color: white;
    margin-top: 10px;
    border-radius: 25px;
    height: 50px;
    width: 15rem;
    padding-left: 15px;
  }



.auth button{
    background-color: #DDFF55;
    border-radius: 25px;
}
  