

.edit-profile{ 
    margin-top:20px;
}

.edit-profile img{ 
    margin-bottom:10px;
}
.edit-profile input{ 
    padding:20px;
    
}

.edit-form {
    display: flex;
    flex-direction: column;
}

.form-labels {
    margin: 1rem;
}

.form-inputs {
    margin: 1rem;
}

.edit-form-names {
    display: flex;
}

.edit-form-names {
    display: flex;
}

.avatar{
    width:200px;
    height:200px;
    border-radius: 50%;
    left: 2px;
    border: solid 1px black;
    }		
    