.banner-image  {
    width: 100%;
    height:300px;
    position:inherit;
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    background-size: cover;
  
}

.user-info {
    height: 150px;
}
.user-info .buttons{

margin-left: 1rem;

}

.banner-profile-image{
    margin-top:3rem;
    height: 200px;
    border-radius: 100%;
    z-index: 1;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    left: 75px;
  }
  

.stats{ 
    background-color: aquamarine;
    height: 150px;
    border-radius: 1rem;
    padding-top: 40px;
    margin: 15px;

}

.stats-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    flex-grow: 1;
    padding: 10px
}

.stats-inner-row{
    padding-left: 25px;
}
.stats-image-icon{
    height: 80px;

}
.stats-image-icon img{
    height: 100%;
}
.profile .featured { 
    text-align: center;
}

.profile .featured  img{ 
   height: 400px;
   width: 250px;
   padding: 2%;
   box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

}

.profile .product-card{ 
    margin: 1%
}

.profile .favorite{
    margin-top: 5%;
   }


.slider img{
    height: 250px;
    width: 160px;
    border-radius: 1rem;
}

.slider {
 margin-left: 2%;

}


.friends {
    background-color: rgb(215, 228, 228);
}

.friends .friends-list{ 
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.friends .friend-card{ 
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    background-color: azure;
    padding: 2%;
    margin: 2%;
    height: 200px;
    width: 400px;
}

.friends .friend-card img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}