body {
  font-family: Verdana;
  background-color: #CAF0F8;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}
img{
  border-radius: 1rem;
  border: none;
}

form div {
  margin: 1em;
  display: inline-block;
}
/* This has to do with pagination */
.all-movies{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
justify-content: center;
}
